*/*/

#すべてのインテリセンスデータベースを無視
*.*
./**/*.*
!*.c
!*.cpp
!*.cc
!*.cxx
!*.h
!*.hpp
!*.hh
!*.hxx
!*.ipp
!*.vcproj
!*.vcxproj
!*.vcxproj.filters
!*.bat
!*.def
!*.xml
!*.sln
!*.rtf
!*.cs
!*.csproj
!*.resx
!*.json
!*.props

#.gitignoreは保持
!*.gitignore

!Readme.md
